<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(114, 214, 250);color: white;">
        <h1>INICIO</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate repellat delectus, ipsum eveniet, corrupti nemo quod sequi natus officia soluta? At ipsum cupiditate suscipit, deleniti unde animi repellendus vel.</p>
    </div>
</div>